html{
    background-color: rgb(0, 0, 129);
}
#content{
    background-image: url("../images/login_background.jpg");
    background-size :cover;
    background-repeat: no-repeat;
    height:100vh;
    margin-top: 0;
    padding-top: 0
}
h1, h2{
    text-shadow:4px 4px 2px rgba(0, 0, 0, 0.315);
}

h1{
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}

h2{
    padding: 0.5%;
    text-align: center;
    font-size: xx-large;
    color:white
}

.vertical_divider{
    background-color: black;
    padding: 1px;
    height: 100%;
    flex: .1
}

#splitpage div{
    width: 50%;
}

#loginDiv{
    border-left: solid black thin;
}

form{
    font-size: x-large;
    margin: auto;
    margin :0 35%;
}

label{
    color:white;
    margin-top: 10px;
    padding: 7px;
    display: inline-flex;
}

.labelClass{
    width: 200px;
    margin: 0;
}

input{
    width: 100%;
    border: solid black;
    font-size: large;
    padding: 1%;
    border-radius: 10px;
}

.error{
    color: red;
    font-size: medium;
    width: 100%;
    margin: 10px auto;
}

.SubmitButton{
    color: white;
    padding: 10px;
    width: auto;
    margin: 3% auto;
    border-radius: 10px;
    align-self: flex-start;
    font-size: medium;
}

#splitPage{
    display: flex;
    justify-content: space-around;
}

#registerDiv .SubmitButton{
    background-color: #146FF8;
}

#loginDiv .SubmitButton{
    background-color: green;
}

.flashes{
    padding: 10px 20px;
    background-color: rgb(255, 206, 214);
    color: red;
    border-radius: 7px;
    border: solid red thin;
    margin: 4% 5%; 
}

ul{
    list-style-type: none;
}

.user_list{
    margin:auto;
    width:50%!important;
}

.user_card{
    width: 100%!important;
    margin: 10px auto;
    background-color: transparent;
    border:none;
    padding:10px
}
.user_card:hover{
    background-color: rgba(255, 255, 255, 0.342);
}
    

.image_and_name{
    width: 100%!important;
    font-size: x-large;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.image_and_name p{
    width: 50%;
}

.password_form{
    display: none;
}


.profile_picture{
    height: 75px;
    width: 75px;
    border: solid rgb(255, 255, 255);
    border-top:solid rgb(158, 244, 250);
    border-left:solid rgb(158, 244, 250);
    box-shadow: 3px 3px 6px black;
}

.open_card form{
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.open_card input{
    width: 50%;
    font-size: large;
    font-weight: bolder;
}

#Login_button{
    margin:0;
    width: 10%
}
