:root{
    --xp-blue: #0054e3;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    padding: 0;
}
body{
    background-image: url('../images/Bliss.jpg');
    background-size: 100%;
    image-rendering:pixelated
}

.xp_window, #error_window{
    position:fixed;
    top:40vh;
    right: 40vw;
    border: 5px solid var(--xp-blue);
    background-color: antiquewhite;
    border-radius: 5px;
    width: 20%;
    box-shadow: 3px 3px 6px black;
    border-top-color: rgb(61, 162, 250);
}

.error_message_box{
    min-height: 100px;
    align-content: center;
}

.window_header{
    padding: 3px 5px 8px;
    height : 30px;
    display: flex;
    justify-content: space-between;
    color:white;
    margin-top: none;
    background-color: var(--xp-blue);
    align-content: center;
    
}
.main_box{
    text-align: center;
}
button{
    width: 20%;
    margin-bottom: 15px
}
.corner_buttons{
    display: flex;
    align-content: center;
}
.x_button{

    all: unset; /* resets almost everything, modern way */
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: inline;
    background-color: rgb(255, 0, 21);
}
.corner_button{
    border: solid white thin;
    border-radius: 4px;
    padding:4px;
    width:17px;
    height:17px;
    text-align: center;
    margin:2px

}

h2{
    padding: 4px;
    margin: 0;
}


.icon_list{
    margin-top:32px;
    display: inline-block;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 96px;
    margin-left: 15px;
}

.icon{
    text-align: center;
    width: 128px;
    height: 128px;
    align-content: center;
}
.icon:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border: thin solid var(--xp-blue)

}

.icon:hover > .dropdown{
    visibility: visible;
}

.icon_img{
    height: 64px;
}

.icon p{
    margin-top: 10px;
}

a{
    color:black;
    text-decoration: none;
}

.dropdown{
    background-color: antiquewhite;
    visibility: hidden;
    border: solid thin black;
    text-align: start;
    display: block;
    position:relative;
    top:-116px;
    left: 100%;
    width: fit-content;
}

.dropdown p{
    margin: 0;
    padding: 2px 6px;
}

.dropdown p:hover, .dropdown a:hover{
    color: white;
    background-color: var(--xp-blue);
}

.footer{

    position:fixed;
    bottom: 0px;
    width: 100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}
#taskbar{
    background-color: var(--xp-blue);
}

#start_button{
    display: flex;
    background-color:green;
    color: white;
    font-size: x-large;
    padding: 2px;
    height: 40px;
    margin: 0;
    width:8%;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
#start_button:hover{
    background-color: rgb(0, 170, 0);
}
#start_button img{
    width: 32px;
    margin-right: 5%;
}
.start_menu{
    background-color: antiquewhite;
    width: 20%;
    height: 30%;
}

.file_window, .file_editor{
    position:fixed;
    top:15vh;
    right: 30vw;
    border:5px solid var(--xp-blue);
    background-color: antiquewhite;
    border-radius: 5px;
    width: 40%;
    box-shadow: 3px 3px 6px black;
    border-top-color: rgb(61, 162, 250);
}

#file_list, textarea{
    height: 50vh;
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    border-bottom: solid thin black;
}

#add_file{
    width: 15%;
    padding: 6px;
    margin: 10px 80%;
    border-radius: 5px;
}

.file_window form, .file_editor .form{
    padding: 10px;
    font-size: large;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
}

.file_window input, .file_window label, .file_editor label, .file_editor input{
    font-size: large;
    margin: 0 10px;
    align-content: center;
}

.file_window select, .file_editor select{
    font-size: large;
    padding: 4px 10px;
}

.file_editor{
    background-color: white ;
}

.edit_name{
    background: transparent;
    color: white;
    font-size: larger;
    font-weight: bold;
    width: auto;
}

.fancy_file .file_text_holder{
    background-color: white;
    width: 50%;
    margin: 30px auto;
    height: 50vh;
    border: solid thin black;
    text-align: center;
    padding:50px;

}

.fancy_file .file_text{
    text-align: center;
    margin: 0;
    border: solid black 1px;
    height: 100%;
}

.fancy_file{
    background-color: gray;
}

.file_text_holder textarea{
    resize: none;
    padding: 0;
    width: 100%;
}


