<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FATAL ERROR</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body id = "BSOD">
    <h1>A Problem Has Been Detected and Windows Has Been Shut Down to Protect Your Computer.</h1>
    <h2>UNMOUTNABLE BOOT VOLUME</h2>
    <h3>If This is your first time seeing this error screen, restart your computer. If this screen appears again, follow these steps:</h3>
    <h3>Check to make sure any new hardware or software is properly installed. If this is a new installation, ask your hardware or software manufactureer for any Windows Updates You Might Need.</h3>
    <h3>If problems continue, disable or remove any newly installed hardware or software. Disable BIOS memory options such as caching or shadowing. If you need to use Safe Mode to remove or disable components, restart your computer, press F8 to select Advanced Startup Options and then select Safe Mode.</h3>
    <h3>Technical Information</h3>
    <h3>*** STOP 0x000000ED (0x80F128D0, 0xc000009c, 0x00000000, 0x00000000)</h3>
    <a href = "/">Restart Computer</a>
</body>
</html>