<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows XP Browser
    </title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body>

    <div class="icon_list">
        
        <a href = "/edit_users"><div class="icon">
            <img src="../static/images/users_icon.png" alt="users icon" class="icon_img">
            <p>User Accounts</p>
        </div></a>
        <a href = "/my_files"><div class="icon">
            <img src="../static/images/folder_icon.png" alt="users icon" class="icon_img">
            <p>My Files</p>
        </div></a>
        <a href = "/shared_files"><div class="icon">
            <img src="../static/images/folder_icon.png" alt="users icon" class="icon_img">
            <p>Shared Files</p>
        </div></a>
    </div>
    <div class = "file_window">
        <div class = "window_header">
            {% if where ==   "shared_files" %}
            <h2>Shared Files</h2>
            {% else %}
            <h2>My Files</h2>
            {% endif %}
            <div class = "corner_buttons">
                <p class = "corner_button">_</p>
                <p class = "corner_button">⧉</p>
                <button class = "x_button corner_button" onclick="closeNotification()">X</button>
            </div>
        </div>

        <div>
            <div id = file_list>
            {% for file in all_files %}
                <a href = "files/{{file.id}}"><div class="icon">
                {% if file.file_type == "txt" %}
                    <img src="../static/images/txt_icon.png" alt="users icon" class="icon_img">
                {% elif file.file_type == "rtf" %}
                    <img src="../static/images/rtf_icon.png" alt="users icon" class="icon_img">
                {% else %}
                    <img src="../static/images/pdf_icon.png" alt="users icon" class="icon_img">
                {% endif %}
                    <p>{{file.name}}.{{file.file_type}}</p>
                </div></a>
            {% endfor %}
            </div>

            <form action = "/add_file" method = "POST">
                <input type="hidden" name ="where" value={{where}} />

                <label for = "is_shared">Shared File?
                    <input type="checkbox" name = "is_shared">
                </label>
                
                <label for="file_type" >File Type:
                    <select name="file_type" id="file_type" value = "txt">
                        <option value="txt">.txt</option>
                        <option value = "rtf">.rtf</option>
                    </select>
                </label>
                <input type="submit" value = "Add File">
            </form>
            
        </div>
    </div>

    <div class="footer">
        <div id="taskbar">
            <p id = "start_button">
                <img src="../static/images/logo.png">start</p>
        </div>
        <div class="start_menu">
            <div id="menu_header">
                <p>{{user.username}}</p>
            </div>
            <a is = "logout" href = "/logout">Log Out</a>
        </div>
    </div>
</body>

<script>
    const startButton = document.getElementById("start_button")
    // startButton.addEventListener(click, function(){

    // })
    const notification_window = document.getElementById("xp_window")

    const closeNotification = () =>{
        notification_window.style.display = "none";
    };
</script>
    

</html>