<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows XP Browser
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>

    <div class="icon_list">
        
        <a href = "/edit_users"><div class="icon">
            <img src="../static/images/users_icon.png" alt="users icon" class="icon_img">
            <p>User Accounts</p>
        </div></a>
        <a href = "/my_files"><div class="icon">
            <img src="../static/images/folder_icon.png" alt="users icon" class="icon_img">
            <p>My Files</p>
        </div></a>
        <a href = "/shared_files"><div class="icon">
            <img src="../static/images/folder_icon.png" alt="users icon" class="icon_img">
            <p>Shared Files</p>
        </div></a>
    </div>
    <div class = "file_window">
        <div class = "window_header">
            {% if where ==   "shared_files" %}
            <h2>Shared Files</h2>
            {% else %}
            <h2>My Files</h2>
            {% endif %}
            <div class = "corner_buttons">
                <p class = "corner_button">_</p>
                <p class = "corner_button">⧉</p>
                <a class = "x_button corner_button" href="/home">X</a>
            </div>
        </div>

        <div>
            <div id = file_list>
            {% for file in all_files %}
                <a href = "files/{{file.id}}">
                    <div class="icon">
                    {% if file.file_type == "txt" %}
                        <img src="../static/images/txt_icon.png" alt="users icon" class="icon_img">
                        
                    {% elif file.file_type == "rtf" %}
                        <img src="../static/images/rtf_icon.png" alt="users icon" class="icon_img">
                    {% else %}
                        <img src="../static/images/pdf_icon.png" alt="users icon" class="icon_img">
                    {% endif %}
                        <p>{{file.name}}.{{file.file_type}}</p>
                        <div class = "dropdown">
                            <p><a href="/files/{{file.id}}/properties">Properties</a></p>
                            <p><a href="/files/delete/{{file.id}}">Delete</a></p>
                        </div>
                    </div>

                </a>
            {% endfor %}
            </div>

            <form action = "/add_file" method = "POST">
                <input type="hidden" name ="where" value={{where}} />

                <label for = "is_shared">Shared File?
                    <input type="checkbox" name = "is_shared">
                </label>

                <label for="file_type" >File Type:
                    <select name="file_type" id="file_type" value = "txt">
                        <option value="txt">.txt</option>
                        <option value = "rtf">.rtf</option>
                    </select>
                </label>
                <input type="submit" value = "Add File">
            </form>
            
        </div>
    </div>

    <div class="footer">
        <div id="taskbar">
            <button id = "start_button" onclick=openStart()>
                <img src="{{ url_for('static', filename='images/logo.png') }}">start
            </button>
        </div>
        <div id = "start_menu">
            <div id="menu_header">
                <h2>{{user.username}}</h2>
                {% if user.profile_picture == none %}
                <img class = "profile_picture" src ="{{ url_for('static', filename='images/default_pfp.jpg') }}" >
                {% else %}
                <img class = "profile_picture" src ="{{ url_for('static', filename='uploads/'+ user.profile_picture ) }}" >
                {% endif %}
            </div>
            <a id = "logout_button" href = "/logout">Log Out</a>
        </div>
    </div>
    {% with messages =get_flashed_messages(category_filter=["errors"]) %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
    <div id = "error_window">
        <div class = "window_header">
            <h2>Error</h2>
            <div class = "corner_buttons">
                <p class = "corner_button">_</p>
                <p class = "corner_button">⧉</p>
                <button class = "x_button corner_button" onclick="closeNotification()">X</button>
            </div>

        </div>

        <div class = main_box>
            <div class = "error_message_box">
                {% for message in messages %}
                    <p class = "error_message">- {{ message }}</p>
                {% endfor %}
            </div>
            <button id = "noticication_close" onclick="closeNotification()">Close</button>
        </div>
    </div>
    {% endif %}
    {% endwith %}
</body>

<script>
    const startButton = document.getElementById("start_button")
    const startMenu = document.getElementById("start_menu")

    const openStart = () => {
        if (startMenu.style.display != "inline-block"){
            startMenu.style.display = "inline-block";
        }
        else{
            startMenu.style.display = "none";
        }

    }
    const notification_window = document.getElementById("error_window")

    const closeNotification = () =>{
        notification_window.style.display = "none";
    };

    const icons = document.getElementsByClassName("icon").oncontextmenu = function() {
        alert('right click!')
    }

</script>
    

</html>