<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows XP Browser
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>

    <div class="icon_list">
        
        <a href = "/edit_users"><div class="icon">
            <img src="../static/images/users_icon.png" alt="users icon" class="icon_img">
            <p>User Accounts</p>
        </div></a>
        <a href = "/my_files"><div class="icon">
            <img src="../static/images/folder_icon.png" alt="users icon" class="icon_img">
            <p>My Files</p>
        </div></a>
        <a href = "/shared_files"><div class="icon">
            <img src="../static/images/folder_icon.png" alt="users icon" class="icon_img">
            <p>Shared Files</p>
        </div></a>
    </div>
    <div class="footer">
        <div id="taskbar">
            <button id = "start_button" onclick=openStart()>
                <img src="{{ url_for('static', filename='images/logo.png') }}">start
            </button>
        </div>
        <div id = "start_menu">
            <div id="menu_header">
                <h2>{{user.username}}</h2>
                {% if user.profile_picture == none %}
                <img class = "profile_picture" src ="{{ url_for('static', filename='images/default_pfp.jpg') }}" >
                {% else %}
                <img class = "profile_picture" src ="{{ url_for('static', filename='uploads/'+ user.profile_picture ) }}" >
                {% endif %}
            </div>
            <a id = "logout_button" href = "/logout">Log Out</a>
        </div>
    </div>
</body>

<script>
    const startButton = document.getElementById("start_button")
    const startMenu = document.getElementById("start_menu")

    const openStart = () => {
        if (startMenu.style.display != "inline-block"){
            startMenu.style.display = "inline-block";
        }
        else{
            startMenu.style.display = "none";
        }

    }

</script>
    

</html>