<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows XP Browser
    </title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body>
    <div id = notification_box>
        <div id = notification_header>
            <h2>Notice</h2>
            <div id = corner_buttons>

                <p class = "corner_button">_</p>
                <p class = "corner_button">⧉</p>
                <p class = "corner_button" id = x_button>X</p>
            </div>

        </div>

        <div id = main_box>
        <p>This is a Notification</p>
        <button id = "noticication_close">Ok</button>
        </div>
    </div>
</body>

</html>