<html>
<head>
    <title>Login/Register</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
<body>
<div id="content">
    <h1>Windows TextP</h1>
    {% with messages =get_flashed_messages(category_filter=["logout"]) %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        <ul>
        {% for message in messages %}
            <li><h2 style = "color:rgb(0,255,0)">{{ message }}</h2></li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <div id = splitPage>
        <div id = "registerDiv">
            <h2>Register</h2>
            <form action = "/register" method = "POST">

                <label for = "username">Username:</label>
                <br>
                <input name = "username"/>
                <br>

                <label for = "password">Password</label>
                <br>
                <input name = "password" type = "password"/>
                <br>

                <label for = "confirm">Confirm PW:</label>
                <br>
                <input name = "confirm" type = "password"/>
                <br>

                <label style= "display: flex; justify-content: space-evenly;" for = "is_admin">Administrator?
                <input type = "checkbox" name = "is_admin"/>
                </label>
                <br>

                <input class = "SubmitButton" type = "submit" value = "Register"/>
                {% with messages = get_flashed_messages(category_filter=["register"]) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    <ul class=flashes>
                    {% for message in messages %}
                        <li class="error">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </form>
        </div>

        <!-- <div class="vertical_divider"></div> -->

        <div id = "loginDiv">
            <h2>Login</h2>
            <div class = "user_list">
                {% for user in all_users%}
                    <button class="user_card" id = "user_card_{{user.id}}" onclick="OpenForm(this)">
                        
                        <div class="image_and_name">
                            {% if user.profile_picture == none %}
                            <img class = "profile_picture" src ="{{ url_for('static', filename='images/default_pfp.jpg') }}" >
                            {% else %}
                            <img class = "profile_picture" src ="{{ url_for('static', filename='uploads/'+ user.profile_picture ) }}" >
                            {% endif %}
                            <p>{{user.username}}</p>
                        </div>
                        <form class = "password_form" action = "/login" method = "POST">
                            <label for = "loginPassword">Password:</label>
                            <input name = "loginPassword" type = "password"/>
                            <input type="hidden" name = "username" value = "{{user.username}}">
                            <input id = "login_button" class = "SubmitButton" type = "submit" value = ">"/>
                        </form>
                    </button>
                {% endfor %}
                {% with messages = get_flashed_messages(category_filter=["login"]) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    <ul class=flashes>
                    {% for message in messages %}
                        <li class="error">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </div>

        </div>

    </div>
</div>
</body>
<script>
    let  SelectedUser = false
    const OpenForm = (button) =>{
        if (SelectedUser != false){
            document.getElementById(SelectedUser).className = "user_card"
        }
        SelectedUser = button.id
        document.getElementById(SelectedUser).className = "user_card open_card"
    }
</script>
</html>
